<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tuankiet1774-001-site1.ptempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win1245.site4now.net:8172/msdeploy.axd?site=tuankiet1774-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>tuankiet1774-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>tuankiet1774-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="CLBTinHoc_64131060Entities1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CLB_TinHoc_64131060.Models.CLBTinHoc_64131060Entities1, CLB_TinHoc_64131060" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CLBTinHoc_64131060Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL1001.site4now.net;Initial Catalog=db_ab0a5e_tuankiet1774;Persist Security Info=True;User ID=db_ab0a5e_tuankiet1774_admin;Password=tuankiet@1774;Trust Server Certificate=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL1001.site4now.net;Initial Catalog=db_ab0a5e_tuankiet1774;User ID=db_ab0a5e_tuankiet1774_admin;Password=tuankiet@1774" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CLBTinHoc_64131060Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.CLB_TinHoc.csdl|res://*/Models.CLB_TinHoc.ssdl|res://*/Models.CLB_TinHoc.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL1001.site4now.net;Initial Catalog=db_ab0a5e_tuankiet1774;User Id=db_ab0a5e_tuankiet1774_admin;Password=tuankiet@1774&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CLBTinHoc_64131060Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CLB_TinHoc.csdl|res://*/Models.CLB_TinHoc.ssdl|res://*/Models.CLB_TinHoc.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL1001.site4now.net;Initial Catalog=db_ab0a5e_tuankiet1774;Persist Security Info=True;User ID=db_ab0a5e_tuankiet1774_admin;Password=tuankiet@1774;Trust Server Certificate=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CLBTinHoc_64131060Entities1-Web.config Connection String" />
  </ItemGroup>
</Project>